        <div class="month">
            <div class="month__head text-month animated zoomIn">
                $titleMonth
            </div>
            <div class="month__head animated zoomIn">
                <div class="text-day">пн</div>
                <div class="text-day">вт</div>
                <div class="text-day">ср</div>
                <div class="text-day">чт</div>
                <div class="text-day">пт</div>
                <div class="text-day">сб</div>
                <div class="text-day">вс</div>
            </div>

            $days
        </div>
