<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="templateIndex" value="Template/index.html"/>
    <add key="templateMonth" value="Template/month.html" />
    <add key="templateMonthRow" value="Template/monthRow.html" />
    <add key="templateDayActive" value="Template/dayActive.html" />
    <add key="templateDayInactive" value="Template/dayInactive.html" />
    <add key="templateStyle" value="Template/style.css" />
    <add key="templateBootstrap" value="Template/bootstrap.css" />
  </appSettings>
</configuration>